
body {
	padding: 0px;
	margin: 0px;
	background-image: url("../img/page2_background.jpg");
	background-color: #002564b;
    background-color:#000000;
    background-position:center top;
	background-attachment:fixed;
	text-align: left;
	font-family: Helvetica, Arial,  sans-serif;
	font-size: 13px;
	color: #F1F5F8;
}

.banner{
    font-family: monospace;
    text-align: center;
    border-spacing: 0px;
    margin: 0px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#E9EEF3;
	background-color:#000000;
	padding:10px;

}


nav ul {
	list-style: none;
	height: 50px;
	padding: 0px;
	color: #2b2b2b;
	width: 100%;
    border-spacing: 0px;
    margin: 0px;
    font-family: monospace;
    text-align: right;
    background: black;

}

nav ul li{
	float: left;
	text-align: center;
	padding: 0px;
	width: 300px;
	font-family: monospace;
	color: white;
	position: relative;
	left: 70px;
}

a{ 
	color: white;
	text-decoration: none;
	display: block;
	width: 250px;
}


.sampleCase{
	margin-top:20px;
	font-family: Helvetica, Arial,  sans-serif;
	width:70%;
	margin:auto;
	font-size: 16;
	line-height: 20px;
}

.sampleCaseTwo{
	padding-top:10px;
	font-family: Helvetica, Arial,  sans-serif;
	width:70%;
	margin:auto;
	font-size: 16;
	line-height: 20px;
}